In [4]:
import pg8000
conn = pg8000.connect(database="mondial", user="postgres", password="August")
print(type(conn))
cursor = conn.cursor()
print(type(cursor))

<class 'pg8000.core.Connection'>
<class 'pg8000.core.Cursor'>

In [19]:
conn.rollback()

**#1** (0.5 pts)

**Top 20 highest airports in the USA.**

In [5]:
myquery = '''
SELECT name, city, elevation FROM airport WHERE country = 'USA' ORDER BY elevation DESC LIMIT 20;
'''
cursor.execute(myquery)
myresult = cursor.fetchall()
for row in myresult:
    print(row)

['Santa Fe Muni', 'Santa Fe', Decimal('1935')]
['City Of Colorado Springs Muni', 'Colorado Springs', Decimal('1886')]
['Cheyenne Rgnl Jerry Olson Fld', 'Cheyenne', Decimal('1877')]
['Denver Intl', 'Denver', Decimal('1656')]
['Albuquerque International Sunport', 'Albuquerque', Decimal('1633')]
['Reno Tahoe Intl', 'Reno', Decimal('1346')]
['Salt Lake City Intl', 'Salt Lake City', Decimal('1289')]
['El Paso Intl', 'El Paso', Decimal('1207')]
['Helena Rgnl', 'Helena', Decimal('1182')]
['Billings Logan International Airport', 'Billings', Decimal('1113')]
['Rick Husband Amarillo Intl', 'Amarillo', Decimal('1100')]
['Lubbock Preston Smith Intl', 'Lubbock', Decimal('1001')]
['Boise Air Terminal', 'Boise City', Decimal('875')]
['Tucson Intl', 'Tucson', Decimal('806')]
['Spokane Intl', 'Spokane', Decimal('724')]
['Mc Carran Intl', 'Las Vegas', Decimal('653')]
['Abilene Rgnl', 'Abilene', Decimal('546')]
['Pierre Regional Airport', 'Pierre', Decimal('531')]
['Bismarck Municipal Airport', 'Bismarck', Decimal('506')]
['Wichita Mid Continent', 'Wichita', Decimal('406')]

**#2** (0.5 pts)

**The five smallest seas in the world.**

In [6]:
myquery = '''
SELECT name, area FROM sea ORDER BY area LIMIT 5;
'''
cursor.execute(myquery)
myresult = cursor.fetchall()
for row in myresult:
    print(row)

['Marmara Sea', Decimal('11350')]
['Lago de Maracaibo', Decimal('13512')]
['San Francisco Bay', Decimal('13512')]
['Seto Inland Sea', Decimal('23200')]
['Kattegat', Decimal('30000')]

**#3** (0.5 pts)

**Governments that gained independence between Jan. 1 1950 and Dec. 31, 1999.**

In [7]:
myquery = '''
SELECT country.name AS name, independence, wasdependent AS formerly FROM politics 
	JOIN country ON politics.country = country.code 
	WHERE independence BETWEEN '1950-01-01' AND '1999-12-31' 
	ORDER BY country LIMIT 20;
'''
cursor.execute(myquery)
myresult = cursor.fetchall()
for row in myresult:
    print(row)

['Antigua and Barbuda', datetime.date(1981, 11, 1), 'GB']
['Angola', datetime.date(1975, 11, 11), 'P']
['Azerbaijan', datetime.date(1991, 8, 30), 'Soviet Union']
['Bangladesh', datetime.date(1971, 12, 16), 'PK']
['Barbados', datetime.date(1966, 11, 30), 'GB']
['Benin', datetime.date(1960, 8, 1), 'F']
['Burkina Faso', datetime.date(1960, 8, 5), 'F']
['Burundi', datetime.date(1962, 7, 1), 'United Nations']
['Bosnia and Herzegovina', datetime.date(1992, 4, 1), 'Yugoslavia']
['Brunei', datetime.date(1984, 1, 1), 'GB']
['Bahamas', datetime.date(1973, 7, 10), 'GB']
['Belarus', datetime.date(1991, 8, 25), 'Soviet Union']
['Belize', datetime.date(1981, 9, 21), 'GB']
['Cameroon', datetime.date(1960, 1, 1), 'United Nations']
["Cote d'Ivoire", datetime.date(1960, 8, 7), 'F']
['Comoros', datetime.date(1975, 7, 6), 'F']
['Cape Verde', datetime.date(1975, 7, 5), 'P']
['Cyprus', datetime.date(1960, 8, 16), 'GB']
['Czech Republic', datetime.date(1993, 1, 1), 'Czechoslovakia']
['Djibouti', datetime.date(1977, 6, 27), 'F']

**#4** (0.5 pts)

**20 lowest cities in China.**

In [10]:
myquery = '''
SELECT name, citylocalname.localname, elevation 
    FROM city 
    JOIN citylocalname ON citylocalname.city = city.name 
    WHERE city.country = 'CN' ORDER BY elevation LIMIT 20;
'''
cursor.execute(myquery)
myresult = cursor.fetchall()
for row in myresult:
    print(row)

['Shenzhen', 'æ·±åœ³å¸‚', Decimal('2')]
['Shanghai', 'ä¸Šæµ·å·¿', Decimal('4')]
['Tianjin', 'å¤©æ´¥å·¿', Decimal('5')]
['Dongguan', 'ä¸œèŽžå¸‚', Decimal('8')]
['Huizhou', 'æƒ\xa0å·žå¸‚', Decimal('15')]
['Foshan', 'ä½›å±±å¸‚', Decimal('16')]
['Guangzhou', 'å¹¿å·žå¸‚', Decimal('21')]
['Dalian', 'å¤§è¿žå¸‚', Decimal('29')]
['Wuhan', 'æ\xad¦æ±‰å¸‚', Decimal('37')]
['Beijing', 'åŒ—äº¬å·¿', Decimal('43.5')]
['Shantou', 'æ±•å¤´å¸‚', Decimal('51')]
['Shenyang', 'æ²ˆé˜³å¸‚', Decimal('55')]
['Changsha', 'é•¿æ²™å¸‚', Decimal('63')]
['Anyang', 'ì•ˆì–‘ì‹œ', Decimal('69')]
['Xiangyang', 'è¥„é˜³å¸‚', Decimal('71')]
['Linyi', 'ä¸´æ²‚å¸‚', Decimal('74')]
['Shijiazhuang', 'çŸ³å®¶åº„å¸‚', Decimal('83')]
['Harbin', 'å“ˆå°”æ»¨å¸‚', Decimal('150')]
['Changchun', 'é•¿æ˜¥å¸‚', Decimal('222')]
['Xian', 'è¥¿å®‰å¸‚', Decimal('405')]

**#5** (0.5 pts)

**Countries where population growth is a negative integer.**

In [12]:
myquery = '''
SELECT country.name, population_growth 
    FROM population 
    JOIN country ON country.code = population.country 
    WHERE population_growth < 0 
    ORDER BY population_growth, country.name LIMIT 20;
'''
cursor.execute(myquery)
myresult = cursor.fetchall()
for row in myresult:
    print(row)

['Syria', Decimal('-9.73')]
['Cook Islands', Decimal('-3')]
['Moldova', Decimal('-1.02')]
['Saint Pierre and Miquelon', Decimal('-1.02')]
['Bulgaria', Decimal('-0.83')]
['Estonia', Decimal('-0.68')]
['Puerto Rico', Decimal('-0.65')]
['Ukraine', Decimal('-0.64')]
['Latvia', Decimal('-0.62')]
['Virgin Islands', Decimal('-0.56')]
['Montenegro', Decimal('-0.49')]
['South Africa', Decimal('-0.48')]
['Serbia', Decimal('-0.46')]
['Micronesia', Decimal('-0.42')]
['American Samoa', Decimal('-0.35')]
['Lithuania', Decimal('-0.29')]
['Romania', Decimal('-0.29')]
['Saint Vincent and the Grenadines', Decimal('-0.29')]
['Slovenia', Decimal('-0.23')]
['Hungary', Decimal('-0.21')]

**#6** (1 pts)

**Which countries share the longest border? (Need full name of countries)**

In [15]:
myquery = '''
SELECT cnt1.name AS Country_1, cnt2.name AS Country_2, borders.length AS Border_Length FROM borders 
	JOIN country AS cnt1 ON borders.country1 = cnt1.code  
	JOIN country AS cnt2 ON borders.country2 = cnt2.code
	ORDER BY borders.length DESC LIMIT 3;
'''
cursor.execute(myquery)
myresult = cursor.fetchall()
for row in myresult:
    print(row)

['Canada', 'United States', Decimal('8893')]
['Kazakhstan', 'Russia', Decimal('6846')]
['Argentina', 'Chile', Decimal('5150')]

**#7** (1 pts)

**Top 3 most common religions in the 10 poorest countries in the world.**

In [21]:
myquery = '''
WITH poorten AS (
		SELECT country, gdp FROM economy ORDER BY gdp LIMIT 13)
	SELECT country.name, poorten.gdp, religion.name, religion.percentage 
	FROM religion 
	JOIN poorten ON poorten.country = religion.country
	JOIN country ON country.code = religion.country
	ORDER BY poorten.gdp, poorten.country, percentage DESC; 
'''
cursor.execute(myquery)
myresult = cursor.fetchall()
for row in myresult:
    print(row)

['Tokelau', Decimal('1.5'), 'Congregational Christian', Decimal('58.2')]
['Tokelau', Decimal('1.5'), 'Roman Catholic', Decimal('36.6')]
['Niue', Decimal('10'), 'Ekalesia Niue', Decimal('61')]
['Niue', Decimal('10'), 'Mormon', Decimal('10')]
['Niue', Decimal('10'), 'Roman Catholic', Decimal('7.2')]
['Tuvalu', Decimal('38'), 'Church Tuvalu', Decimal('97')]
['Tuvalu', Decimal('38'), 'Seventh-Day Adventist', Decimal('1.4')]
['Tuvalu', Decimal('38'), 'Bahai', Decimal('1')]
['Wallis and Futuna', Decimal('60'), 'Roman Catholic', Decimal('99')]
['Nauru', Decimal('100'), 'Christian', Decimal('100')]
['Kiribati', Decimal('173'), 'Roman Catholic', Decimal('52.6')]
['Kiribati', Decimal('173'), 'Protestant', Decimal('40.9')]
['Kiribati', Decimal('173'), 'Mormon', Decimal('6')]
['Anguilla', Decimal('175.4'), 'Protestant', Decimal('30.2')]
['Anguilla', Decimal('175.4'), 'Anglican', Decimal('29')]
['Anguilla', Decimal('175.4'), 'Methodist', Decimal('23.9')]
['Anguilla', Decimal('175.4'), 'Roman Catholic', Decimal('5.7')]
['Cook Islands', Decimal('183.2'), 'Christian', Decimal('100')]
['Marshall Islands', Decimal('193'), 'Christian', Decimal('100')]
['Saint Pierre and Miquelon', Decimal('215.3'), 'Roman Catholic', Decimal('99')]

**#8** (1 pts)

**What is the correlation between the number of religions and the number of languages spoken?**

In [ ]:
# messed this up
myquery = '''
SELECT country.name AS country, count(religion.name) AS religions, count(language.name) AS languages 
	FROM religion 
	JOIN language ON language.country = religion.country 
	JOIN country ON country.code = religion.country
	GROUP BY country.name
	ORDER BY count(religion.name) DESC, count(language.name) DESC LIMIT 20;
'''
cursor.execute(myquery)
myresult = cursor.fetchall()
for row in myresult:
    print(row)

**#9** (1 pts)

**Rank countries which gained independence after 1990 by their GDP**

In [22]:
myquery = '''
SELECT country.name, politics.independence, economy.gdp
	FROM politics 
	JOIN economy ON politics.country = economy.country
	JOIN country ON politics.country = country.code 
	WHERE independence >= '1990-01-01'
	ORDER BY gdp DESC;
'''
cursor.execute(myquery)
myresult = cursor.fetchall()
for row in myresult:
    print(row)

['Russia', datetime.date(1991, 8, 24), Decimal('2113000')]
['Kazakhstan', datetime.date(1991, 12, 16), Decimal('224900')]
['Czech Republic', datetime.date(1993, 1, 1), Decimal('194800')]
['Ukraine', datetime.date(1991, 12, 1), Decimal('175500')]
['Slovakia', datetime.date(1993, 1, 1), Decimal('96960')]
['Azerbaijan', datetime.date(1991, 8, 30), Decimal('76010')]
['Belarus', datetime.date(1991, 8, 25), Decimal('69240')]
['Croatia', datetime.date(1991, 6, 25), Decimal('59140')]
['Uzbekistan', datetime.date(1991, 8, 31), Decimal('55180')]
['Slovenia', datetime.date(1991, 6, 25), Decimal('46820')]
['Lithuania', datetime.date(1991, 9, 6), Decimal('46710')]
['Yemen', datetime.date(1990, 5, 22), Decimal('43890')]
['Serbia', datetime.date(1992, 4, 11), Decimal('43680')]
['Turkmenistan', datetime.date(1991, 10, 27), Decimal('40560')]
['Latvia', datetime.date(1991, 9, 6), Decimal('30380')]
['Estonia', datetime.date(1991, 9, 6), Decimal('24280')]
['Bosnia and Herzegovina', datetime.date(1992, 4, 1), Decimal('18870')]
['Georgia', datetime.date(1991, 4, 9), Decimal('15950')]
['Namibia', datetime.date(1990, 3, 21), Decimal('12300')]
['South Sudan', datetime.date(2011, 7, 9), Decimal('11770')]
['North Macedonia', datetime.date(1991, 9, 17), Decimal('10650')]
['Tajikistan', datetime.date(1991, 9, 9), Decimal('8513')]
['Moldova', datetime.date(1991, 8, 27), Decimal('7932')]
['Kyrgyzstan', datetime.date(1991, 8, 31), Decimal('7234')]
['Kosovo', datetime.date(2008, 2, 17), Decimal('7150')]
['Timor-Leste', datetime.date(2002, 5, 20), Decimal('6129')]
['Montenegro', datetime.date(2006, 6, 3), Decimal('4518')]
['Eritrea', datetime.date(1993, 5, 27), Decimal('3438')]
['Palau', datetime.date(1994, 10, 1), Decimal('221')]

**#10** (1 pts)

**What is the type of government for the countries with the ten highest and lowest GDP?**

In [ ]:
myquery = '''
(SELECT country.name, politics.government, economy.gdp
	FROM politics 
	JOIN economy ON politics.country = economy.country
	JOIN country ON politics.country = country.code 
	ORDER BY gdp DESC NULLS LAST LIMIT 10) 
UNION ALL 
(SELECT country.name, politics.government, economy.gdp
	FROM politics 
	JOIN economy ON politics.country = economy.country
	JOIN country ON politics.country = country.code 
	ORDER BY gdp LIMIT 10);
'''
cursor.execute(myquery)
myresult = cursor.fetchall()
for row in myresult:
    print(row)

**#11** (1 pts)

**Top 5 rivers that flow through the most provinces in Eastern Europe (or just Europe)**

In [ ]:
#ANSWERED IN CLASS

**#12** (1 pts)

**The 5 tallest mountains in Greece.**

In [ ]:
#ANSWERED IN CLASS

**#13** (1 pts)

**The GDP of the most populous country on each continent. (I moved this lower because it's pretty tricky, don't get too caught up on it!)**

In [ ]:
myquery = '''

'''
cursor.execute(myquery)
myresult = cursor.fetchall()
for row in myresult:
    print(row)

**#14** (1 pts)

**Languages shared across borders (list the language and the two countries it goes across)**

In [ ]:
myquery = '''

'''
cursor.execute(myquery)
myresult = cursor.fetchall()
for row in myresult:
    print(row)